@page "/chess/AI/{gameId?}"

@using BoardWatcherClient
@using Newtonsoft.Json
@using System.Net.Http
@inject HttpClient HttpClient
@inject ClipboardService ClipboardService
@inject ChessGameStateService GameStateService
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject RoutingService routingService

@if (gameId != null)
{
    <div class="center">
        <h1>Running in AI Mode, Game ID: @gameId</h1>
    </div>
}

@if (gameBoard == null && !failedFetch)
{
    <p><em>Loading...</em></p>
}
else if (failedFetch)
{
    <div class="center">
        <h4>Failed loadiing Game, are you sure you entered correct Game ID?</h4>
    </div>
}
else
{
    <div class="flex-container">
        <div class="flex-child center">
            <table class="chess-board">
                <tbody>
                    <tr>
                        <th></th>
                        <th>a</th>
                        <th>b</th>
                        <th>c</th>
                        <th>d</th>
                        <th>e</th>
                        <th>f</th>
                        <th>g</th>
                        <th>h</th>
                    </tr>

                    <tr>
                        <th>8</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="light">@GetPiece(gameBoard[0 + i])</td } else { <td class="dark">@GetPiece(gameBoard[1 +
                    i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>7</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="dark">@GetPiece(gameBoard[8 + i])</td } else { <td class="light">@GetPiece(gameBoard[9 +
                    i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>6</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="light">@GetPiece(gameBoard[16 + i])</td } else { <td class="dark">@GetPiece(gameBoard[17
                    + i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>5</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="dark">@GetPiece(gameBoard[24 + i])</td } else { <td class="light">@GetPiece(gameBoard[25
                    + i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>4</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="light">@GetPiece(gameBoard[32 + i])</td } else { <td class="dark">@GetPiece(gameBoard[33
                    + i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>3</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="dark">@GetPiece(gameBoard[40 + i])</td } else { <td class="light">@GetPiece(gameBoard[41
                    + i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>2</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="light">@GetPiece(gameBoard[48 + i])</td } else { <td class="dark">@GetPiece(gameBoard[49
                    + i])</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th>1</th>
                        @for (var i = 0; i < 8; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <td class="dark">@GetPiece(gameBoard[56 + i])</td } else { <td class="light">@GetPiece(gameBoard[57
                    + i])</td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="center pgn-mobile">
        <button class="btn btn-primary" @onclick="fetchBoard"> <span aria-hidden="true">Refresh</span></button>
    </div>
    <div class="center fen-area">
        <input @bind="fenCode" @onclick="CopyFenCodeToClipboard" readonly />
    </div>
    <div class="center">
        @if (copied)
        {
            <p>Copied to clipboard!</p>
        }
    </div>
}

@code {
    private List<PieceAI> gameBoard;
    private readonly HttpClient httpClient;
    private Boolean failedFetch = false;
    private Boolean copied = false;
    private string fenCode = "";
    [Parameter]
    public string gameId { get; set; }
    [Parameter]
    public string gameType { get; set; }
    protected override async Task OnInitializedAsync()
    {
        gameId = gameId ?? "Not provided";
        routingService.setGameId(gameId);
        try
        {
            string response = await HttpClient.GetStringAsync("https://sleepy-falls-41701.herokuapp.com/AI/get?id=" + gameId);
            gameBoard = JsonConvert.DeserializeObject<List<PieceAI>>(response);
            fenCode = generateFen();
        }
        catch (Exception)
        {
            failedFetch = true;
        }
    }

    async public Task fetchBoard()
    {
        try
        {
            string response = await HttpClient.GetStringAsync("https://sleepy-falls-41701.herokuapp.com/AI/get?id=" + gameId);
            gameBoard = JsonConvert.DeserializeObject<List<PieceAI>>(response);
            fenCode = generateFen();
        }
        catch (Exception)
        {
            failedFetch = true;
        }
    }
    public string generateFen()
    {
        int l = 0;
        int counter = 0;
        string fen = "";
        for (int i = 0; i < 8; i++)
        {
            counter = 0;
            for (int j = 0; j < 8; j++)
            {
                if (gameBoard[l].Piece == "White-King")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "K";
                }
                else if (gameBoard[l].Piece == "Black-King")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "k";
                }
                else if (gameBoard[l].Piece == "White-Queen")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "Q";
                }
                else if (gameBoard[l].Piece == "Black-Queen")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "q";
                }
                else if (gameBoard[l].Piece == "White-Pawn")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "P";
                }
                else if (gameBoard[l].Piece == "Black-Pawn")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "p";
                }
                else if (gameBoard[l].Piece == "White-Bishop")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "B";
                }
                else if (gameBoard[l].Piece == "Black-Bishop")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "b";
                }
                else if (gameBoard[l].Piece == "White-Rook")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "R";
                }
                else if (gameBoard[l].Piece == "Black-Rook")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "r";
                }
                else if (gameBoard[l].Piece == "White-Knight")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "N";
                }
                else if (gameBoard[l].Piece == "Black-Knight")
                {
                    if (counter > 0)
                    {
                        fen += counter.ToString();
                        counter = 0;
                    }
                    fen += "n";
                }
                else
                {
                    counter += 1;
                }
                l += 1;
            }
            if (counter > 0)
            {
                fen += counter.ToString();
            }
            fen += "/";
        }
        fen = fen.Remove(fen.Length - 1);
        return fen;
    }

    async Task CopyFenCodeToClipboard()
    {
        try
        {
            await ClipboardService.WriteTextAsync(fenCode);
        }
        catch { return; }
        copied = true;
    }
    public string GetPiece(PieceAI piece)
    {
        switch (piece.Piece)
        {
            case "Black-Pawn":
                return "♟";
            case "Black-Rook":
                return "♜";
            case "Black-Knight":
                return "♞";
            case "Black-Bishop":
                return "♝";
            case "Black-Queen":
                return "♛";
            case "Black-King":
                return "♚";

            case "White-Pawn":
                return "♙";
            case "White-Rook":
                return "♖";
            case "White-Knight":
                return "♘";
            case "White-Bishop":
                return "♗";
            case "White-Queen":
                return "♕";
            case "White-King":
                return "♔";
            default:
                return "";
        }
    }
}
